.hide        { display: none;                     }
.transparent {                visibility: hidden; }
.hidden      { display: none; visibility: hidden  }

#container {
    width:            59.375em; /*950px;*/
    margin:           0 auto;
    padding:          0;
    text-align:       center;
    background-color: black;
}
#map { margin: 0; }
.row { line-height: 0; }
.tile {
    width:            3.125em; /*50px;*/
    height:           50px;
    display:          inline-block;
    /*background-image: url("../img/tile.png");*/
}

